<footer
  class="w-full bg-ctp-mantle h-14 border-t-2 border-ctp-sky flex items-center shadow-ctp-sky shadow-inner"
>
  <div class="container mx-auto px-4 max-w-screen-2xl">
    <p class="text-center text-ctp-lavender text-lg">© 2024 404Gh0st</p>
  </div>
</footer>

