---
import NavLink from "./NavLink.astro";
---
<nav
  class="px-4 flex h-16 max-w-screen-2xl items-center border-2 border-ctp-teal rounded-lg text-lg shadow-ctp-sky shadow-md"
>
  <ul class="flex gap-4 justity-start text-ctp-mauve">
    <NavLink href="/" name="Home" />
    <NavLink href="/snippets" name="Snippets" />
    <NavLink href="/about" name="About" />
  </ul>
  <ul class="flex flex-1 gap-4 justify-end text-ctp-lavender">
    <NavLink href="/login" name="Login" />
    <NavLink href="/register" name="Register" />
  </ul>
</nav>
